body {
  color: #333; }

h2, h3, h4, h5, h6, table, p, ol, ul, dl {
  margin-bottom: 20px; }

h2 {
  border-bottom: 2px solid #0794bd;
  padding: 0 0 5px; }

h3 {
  border-bottom: 1px solid #ddd;
  padding: 0 0 5px; }

h4 {
  border-left: 2px solid #0794bd;
  padding: 0 0 0 10px; }

#container {
  background-color: #fafafa; }

.container {
  max-width: 970px; }

.blog .entries, .archive .entries {
  margin-right: -15px;
  margin-left: -15px;
  overflow: hidden; }
  .blog .entries .hentry:nth-child(3n+1), .archive .entries .hentry:nth-child(3n+1) {
    clear: both; }
  .blog .entries .hentry .summary-with-thumbnail, .archive .entries .hentry .summary-with-thumbnail {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 0 20px 20px; }
    .blog .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-thumbnail, .archive .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-thumbnail {
      float: none;
      margin-right: -20px;
      margin-left: -20px;
      width: auto; }
      .blog .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-thumbnail a, .archive .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-thumbnail a {
        background-color: transparent;
        border-radius: 0;
        display: block;
        height: auto;
        width: auto; }
        @media (min-width: 992px) {
          .blog .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-thumbnail a, .archive .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-thumbnail a {
            height: 180px; } }
        .blog .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-thumbnail a.no-thumbnail, .archive .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-thumbnail a.no-thumbnail {
          background-color: #333; }
        .blog .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-thumbnail a .no-thumbnail-text, .archive .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-thumbnail a .no-thumbnail-text {
          display: none; }
    .blog .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-body .entry-title, .archive .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-body .entry-title {
      font-size: 16px;
      font-weight: normal;
      margin: 17px 0 10px; }
      .blog .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-body .entry-title a, .archive .entries .hentry .summary-with-thumbnail .summary-with-thumbnail-body .entry-title a {
        color: #333; }
    .blog .entries .hentry .summary-with-thumbnail .entry-summary, .archive .entries .hentry .summary-with-thumbnail .entry-summary {
      display: none; }

/**
 * .page
 */
.page main > article, .error404 main > article {
  background-color: #fff;
  border: 1px solid #eee; }
  .page main > article .entry-content, .error404 main > article .entry-content {
    padding: 20px; }
    @media (min-width: 992px) {
      .page main > article .entry-content, .error404 main > article .entry-content {
        padding: 30px; } }

/**
 * .page-template-front-page
 */
.page-template-front-page main > article .entry-content {
  background-color: transparent;
  border: none;
  padding: 0; }

/**
 * .page-template-full-width-fluid
 */
.page-template-full-width-fluid #main {
  margin-bottom: 60px; }

.single-post main > article .entry-title, .single-post main > article .entry-meta, .single-post main > article .entry-content {
  background-color: #fff;
  border: 1px solid #eee; }

.single-post main > article .entry-title {
  border-bottom: none;
  margin-bottom: 0;
  padding: 20px 20px 10px; }
  @media (min-width: 992px) {
    .single-post main > article .entry-title {
      padding: 30px 30px 10px; } }

.single-post main > article .entry-meta {
  border-top: none;
  border-bottom: none;
  margin-bottom: 0;
  padding: 0 20px 20px; }
  @media (min-width: 992px) {
    .single-post main > article .entry-meta {
      padding: 0 30px 30px; } }

.single-post main > article .entry-content {
  padding: 20px; }
  @media (min-width: 992px) {
    .single-post main > article .entry-content {
      padding: 30px; } }

.search .entries .hentry {
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 20px;
  padding: 20px; }
  @media (min-width: 992px) {
    .search .entries .hentry {
      margin-bottom: 30px;
      padding: 30px; } }

/**
 * .sidebar
 */
.sidebar {
  padding-left: -15px;
  margin-left: -15px; }
  .sidebar .col-md-3:nth-child(4n+1) {
    clear: both; }
  .sidebar .col-md-4:nth-child(3n+1) {
    clear: both; }
  .sidebar .col-md-6:nth-child(2n+1) {
    clear: both; }

.comment-body {
  background-color: #fff; }

/**
 * .footer-widget-area
 */
.footer-widget-area .widget ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .footer-widget-area .widget ul li {
    margin-left: 0;
    padding: 2px 0; }
    .footer-widget-area .widget ul li ul {
      border-bottom: none; }
      .footer-widget-area .widget ul li ul li {
        padding-left: 1em; }

/**
 * .page-header
 */
.page-header {
  border: none;
  margin-bottom: 20px;
  padding: 30px 0; }

/**
 * .no-page-header
 */
.no-page-header {
  height: 60px; }

.related-posts .entries .hentry {
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 20px;
  padding: 20px; }
  .related-posts .entries .hentry .entry-title, .related-posts .entries .hentry .entry-meta {
    border: none;
    padding: 0; }
  @media (min-width: 992px) {
    .related-posts .entries .hentry {
      margin-bottom: 30px;
      padding: 30px; } }
