/**
 * .footer-widget-area
 */
.footer-widget-area {
	.widget {
		ul {
			list-style: none;
			margin-left: 0;
			padding-left: 0;
			li {
				margin-left: 0;
				padding: 2px 0;
				ul {
					border-bottom: none;
					li {
						padding-left: 1em;
					}
				}
			}
		}
	}
}
