.entries--search {
	.article {
		background-color: #fff;
		border: 1px solid #eee;
		margin-bottom: 20px;
		padding: 20px;

		@media ( min-width: 992px ) {
			margin-bottom: 30px;
			padding: 30px;
		}
	}
}
