.blog-template-single-full-width-fixed,
.blog-template-single-full-width-fluid,
.blog-template-archive-full-width-fixed,
.blog-template-archive-full-width-fluid,
.page-template-full-width-fixed,
.page-template-full-width-fluid,
.blog {
	.sidebar {
		margin-right: -15px;
		margin-left: -15px;

		.col-md-3:nth-child(4n+1) {
			clear: both;
		}
		.col-md-4:nth-child(3n+1) {
			clear: both;
		}
		.col-md-6:nth-child(2n+1) {
			clear: both;
		}
	}
}
