.related-posts {
	.entries {
		.hentry {
			background-color: #fff;
			border: 1px solid #eee;
			margin-bottom: 20px;
			padding: 20px;

			.entry-title, .entry-meta {
				border: none;
				padding: 0;
			}

			@media ( min-width: 992px ) {
				margin-bottom: 30px;
				padding: 30px;
			}
		}
	}
}
