body {
	color: #333;
}

h2, h3, h4, h5, h6, table, p, ol, ul, dl {
	margin-bottom: 20px;
}

h2 {
	border-bottom: 2px solid #0794bd;
	padding: 0 0 5px;
}

h3 {
	border-bottom: 1px solid #ddd;
	padding: 0 0 5px;
}

h4 {
	border-left: 2px solid #0794bd;
	padding: 0 0 0 10px;
}